# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# 데이터
data/raw/
data/processed/

# 모델 체크포인트
checkpoints/
*.pth
*.pt

# 출력
output/

# 결과
results/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# mlflow
mlflow.db
meta.yaml

# TensorBoard
runs/

# test audio files
*.mp3
*.wav